body {
  padding: 1%;
}

#main {
  @extend .column;
  @extend .twelve;
  @extend .last;
}

.header {
  @extend .column;
  @extend .six;
  @extend .center;
}

.new-map-instructions {
  @extend .column;
  @extend .six;
}

.new-map-form {
  @extend .column;
  @extend .six;
  @extend .last;

  padding-top: 1em;
}

.fine-print {
  margin-top: 2em;
  padding-top: 0.5em;
  border-top: 1px solid #f5f5f5;
}


.map-holder {
  margin-top: -2em;
}
