body {
  font-family: $font-family-header;
  font-size: 18px;
  color: #21035b;
}

h1, h2, h3, h4 {
  font-family: $font-family-header;
  font-weight: $font-weight-header;
}

.centered {
  text-align: center;
}

.text-center  {
  text-align: center;
}

.text-right {
  text-align: right;
}

#main {
  font-size: 2em;
}

.main-logo {
  @extend .text-right;
  font-size: 4em;
  margin-top: 0em;
  letter-spacing: -0.0625em;
}

.header-food {
  color: $pink;
}

.header-us {
  color: $green;
}

.fine-print {
  color: #3a3b3b;
  font-size: 0.5em;
}

.section-heading {
  @extend .text-center;
}

.link-to-root {
  text-decoration: none;
}