$font-family-header: 'Merriweather Sans', sans-serif;
$font-family-body: 'Merriweather Sans', sans-serif;
$font-weight-header: 800;

$blue: #4407BD;
$green: #07B24E;
$pink: #BD0784;
$teal: #3AE0E0;
$yellow: #F4E138;
