@import 'vendor/layers';
@import 'vendor/layers-responsive';

@import 'core/variables';
@import 'core/typography';
@import 'core/layout';

body {
  padding-top: 1%;
}

#chartdiv {
  width: 100%;
  height: 500px;
}